{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}
    <div class="slide" {{ block.shopify_attributes }}>

      <section class="bg-center bg-full  bg-gray-700 bg-blend-multiply" style="background-image: url('{{ block.settings.image | image_url: width: 2048 }}');">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            {{ page_title }}</h1>

        </div>
      </section>
    </div>
    ...
  {% endcase %}
{% endfor %}


<div class="bg-white p-8 shadow-md rounded-md m-4">

  <section class="bg-white dark:bg-gray-900">
    {%- for article in blog.articles -%}
      <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
            {{ article.title }}</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt }}
            {%- else -%}
              {{ article.content | strip_html | truncate: 150 }}
            {%- endif -%}
          </p>
          {%- if section.settings.blog_show_author -%}
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              By {{ article.author }}
              <svg
                class="w-5 h-5 ml-2 -mr-1"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
            </svg>
          </a>
        {%- endif -%}


        <a href="{{ article.url }}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
          Read me more
        </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex rounded-lg">
        <img
          src="{{ article.image | img_url: '600x400' }}"
          alt="{{ article.title }}"
          class="rounded-lg">

      </div>
    </div>
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      }

    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]

  }
{% endschema %}